html, body {
  width:100%;
  height:100%;
  background:linear-gradient(#f7aeb7, #ffcccc, #ffeee6);
}

.cell {
  border: 1px solid #333;
  height: 100px;
  width: 100px;
  border-style: solid;
  border-width: 15px;
}

.tik-tak-toe-table {
  margin: 0 auto;
}

.center {
  margin: 0 auto;
  text-align: center;
}

.top-margin {
  margin: 30px 0
}
